<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8wwPT2ctwyby9JDYzQaRos7se9H8YYDc</string>
	<key>GCM_SENDER_ID</key>
	<string>724366132912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexballa.ireminder</string>
	<key>PROJECT_ID</key>
	<string>ireminder-7777</string>
	<key>STORAGE_BUCKET</key>
	<string>ireminder-7777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724366132912:ios:ffd7bc13e556504992dd75</string>
</dict>
</plist>